<div class="container">
  <div class="row">
    <h1>イベント一覧ページ</h1>
    <%= link_to "イベント新規登録", new_event_path, class: 'btn btn-default' %>
    <br>
    <hr>
    <% @events.each do |event| %>
      登録者：<%= event.user.name %><br>
      タイトル名：<strong><%= event.title %></strong><br>
      内容：<%= event.content %><br>
      条件：<%= event.requirement %><br>

      参加登録<br>
      <%= link_to "参加者情報", event_path(event.id), class: 'btn btn-default' %>
      <% if current_user.id == event.manager_id %>
        <%= link_to "内容編集", edit_event_path(event.id), class: 'btn btn-default' %>
        <%= link_to "削除", event_path(event.id), method: :delete, data: {confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn-danger' %><br>
      <% end %>
      <hr>
    <% end %>
  </div>
</div>
