<div class="container">
  <div class="row">
    <h1>イベント一覧ページ</h1>
    <% @events.each do |event| %>
      タイトル名：
      <%= link_to event_path(event) do %>
        <strong><%= event.title %></strong><br>
      <% end %>
      内容：<%= event.content %><br>
      条件：<%= event.requirement %><br>
      登録者：<%= event.user.name %><br>
      参加登録<br>
      <%= link_to "内容編集", edit_event_path(event.id), class: 'btn btn-default' %><br>
      <%= link_to "削除", event_path(event.id), method: :delete, data: {confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn-danger' %><br>
      <br>
      <br>
    <% end %>
    <p>
      <%= link_to "イベント新規登録", new_event_path, class: 'btn btn-default' %>

    </p>
  </div>
</div>
